* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: min(7rem, 10vw);
    text-align: center;
    width: min(700px, 80%);
}

.game-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: min(500px, 85%);
    row-gap: 35px;
}

/* Gameboard Grid */

.gameboard-grid {
    display: grid;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
}

.grid-boxes {
    border: 3px solid #000000;
}

.gameboard-grid div:nth-child(n + 7) {
    border-bottom: none;
}

.gameboard-grid div:nth-child(-n + 3) {
    border-top: none;
}

.gameboard-grid div:nth-child(3n) {
    border-right: none;
}

.gameboard-grid div:nth-child(3n - 5) {
    border-left: none;
}

/* Players */

.player-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    font-size: 2rem;
    row-gap: 20px;
    column-gap: 30px;
}

span.score {
    padding: 0 0 0 10px;
}

/* Button Group */

.buttons-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.buttons-container button:not(.theme-mode) {
    padding: 10px 25px;
    border-radius: 15px;
    border: transparent;
    font-size: 1.5rem;
}


/* Add Normalize */