* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

:root {
    --form-focus-outline: 2px solid #000000;
    --form-input-border-def: none;
    --form-input-outline-def: transparent;
    --form-container-padding: 1.2rem;
    --form-padding-left-def: 10px;
    --background-color-disabled: #ececec;
    --color-disabled: #c2bfbf;
}

html {
    height: 100%;
    position: relative;
    font-family: 'Steve', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

@font-face {
    font-family: Steve;
    src: url(./fonts/Steve.ttf);
}

h1,
h2 {
    letter-spacing: 5px;
}

h1 {
    font-size: min(7rem, 10vw);
    text-align: center;
    width: min(700px, 80%);
}

.game-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: min(500px, 85%);
    row-gap: 35px;
}

/* Gameboard Grid */

.gameboard-grid {
    display: grid;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
}

.gameboard-grid.disabled {
    pointer-events: none;
}

.grid-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #000000;
}

.grid-boxes span {
    transform: scale(0);
    font-size: 5em;
    transition: 70ms ease-in-out;
}

.grid-boxes span.active {
    transform: scale(1);
}

.grid-boxes span.active.highlight {
    color: #75e475;
}

.gameboard-grid div:nth-child(n + 7) {
    border-bottom: none;
}

.gameboard-grid div:nth-child(-n + 3) {
    border-top: none;
}

.gameboard-grid div:nth-child(3n) {
    border-right: none;
}

.gameboard-grid div:nth-child(3n - 5) {
    border-left: none;
}

/* Players */

.player-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    font-size: 2rem;
    row-gap: 20px;
    column-gap: 30px;
}

.player {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 0.5em;
}

/* Button Group */

.buttons-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.buttons-container button:not(.theme-mode) {
    padding: 10px 25px;
    border-radius: 15px;
    border: transparent;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
}

.buttons-container button:hover {
    background-color: #e6e6e6;
}

button.continue.disabled {
    background-color: var(--background-color-disabled);
    color: var(--color-disabled);
    pointer-events: none;
}

/* Modal & Overlay */

.modal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-width: 310px;
    border-radius: 10px;
    border: none;
    background-color: #d2d8d6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 100ms ease-in-out transform;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #bdb7b74d;
    z-index: 0;
}

.modal h2 {
    font-size: 2rem;
    text-align: center;
}

form {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: var(--form-container-padding);
    gap: 1rem;
    font-size: 1.4rem;
    z-index: 1;
}

input,
select {
    border: var(--form-input-border-def);
    outline: var(--form-input-outline-def);
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    padding-left: var(--form-padding-left-def);
    border-radius: 7px;
    width: 100%;
}

input[type="text"]:focus-visible,
input[type="number"]:focus-visible,
input[type="checkbox"]:focus-visible,
form button:focus-visible,
select:focus-visible {
    outline: var(--form-focus-outline);
}

.ai-enable {
    display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 9px;
    padding-left: var(--form-padding-left-def);
}

.ai-enable:has(input[type="checkbox"]:not(:checked)) + .ai-difficulty select#ai-difficulty {
    background-color: var(--background-color-disabled);
    color: var(--color-disabled);
    pointer-events: none;
}

input[type="checkbox"] {
    display: grid;
    place-content: center;
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    width: 1.1em;
    height: 1.1em;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 4px;
    transform: translateY(-1px);
}

input[type="checkbox"]:focus-visible {
    outline: 3px solid #000000;
    outline-offset: 3px;
}

input[type="checkbox"]::before {
    content: '';
    height: 1em;
    width: 1em;
    box-shadow: inset 1em 1em #000000;
    transform: scale(0);
    transition: 120ms ease-in-out;
    background-color: CanvasText;
    clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.ai-difficulty {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    padding-left: var(--form-padding-left-def);
}

select#ai-difficulty {
    border-radius: 4px;
}

form button {
    width: 80%;
    align-self: center;
    margin: 10px;
    padding: 7px 0px;
    border-radius: 10px;
    border: none;
    outline: transparent;
    background-color: #ffffff;
    transition: 0.1s ease-in-out box-shadow;
    font-size: 1.65rem;
}

form button:hover {
    box-shadow: 0 10px 20px #00000033;
}

form button:active {
    box-shadow: 0 5px 10px #00000033;
}

/* Game Win Modal */

.win-text-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--form-container-padding);
    z-index: 1;
    gap: 1.5rem;
}

.win-details {
    font-size: 1.5rem;
}

.win-text-container button.restart {
    padding: 10px 25px;
    border-radius: 15px;
    border: transparent;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
}

.win-text-container button.restart:hover {
    background-color: #e6e6e6;
}