* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: min(500px, 85%);
    row-gap: 40px;
}

.player-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1.6rem;
}

/* Gameboard Grid */

.gameboard-grid {
    display: grid;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
}

.grid-boxes {
    border: 3px solid #000000;
}

.gameboard-grid div:nth-child(n + 7) {
    border-bottom: none;
}

.gameboard-grid div:nth-child(-n + 3) {
    border-top: none;
}

.gameboard-grid div:nth-child(3n) {
    border-right: none;
}

.gameboard-grid div:nth-child(3n - 5) {
    border-left: none;
}

/* Players */





/* Add Normalize */